{:env :dev
 :app-title "Security Reminder"
 :log-level :info
 :base-url "http://localhost:3000"
 :db-folder "data"

 :people [{:id "p1" :name "Alice" :email "alice@example.com" :admin? false}
          {:id "p2" :name "Bob" :email "bob@example.com" :admin? false}
          {:id "p3" :name "Carol" :email "carol@example.com" :admin? false}
          {:id "p4" :name "Dave" :email "dave@example.com" :admin? false}
          {:id "p5" :name "Eve" :email "eve@example.com" :admin? false}
          {:id "p6" :name "Frank" :email "frank@example.com" :admin? false}
          {:id "p7" :name "Grace" :email "grace@example.com" :admin? false}
          {:id "p8" :name "Heidi" :email "heidi@example.com" :admin? false}
          {:id "p9" :name "Ivan" :email "ivan@example.com" :admin? false}
          {:id "p10" :name "Jarrett" :email "jarrett@example.com" :admin? true}]

 :system
 {:dev.freeformsoftware.security-reminder.logging-conf/logging-conf
  {:log-level #n/ref :log-level}

  :dev.freeformsoftware.security-reminder.schedule.engine/engine
  {:db-folder #n/ref :db-folder
   :people #n/ref :people
   :base-url #n/ref :base-url
   :notify-at-days-before [8 1]}

  :dev.freeformsoftware.security-reminder.schedule.time-layer/time-layer
  {:engine #ig/ref :dev.freeformsoftware.security-reminder.schedule.engine/engine
   :delay-minutes 10}

  :dev.freeformsoftware.security-reminder.server.core/server
  {:jetty {:port 3000}
   :env #n/ref :env
   :app-title #n/ref :app-title
   :base-url #n/ref :base-url
   :time-layer #ig/ref :dev.freeformsoftware.security-reminder.schedule.time-layer/time-layer
   :logging #ig/ref :dev.freeformsoftware.security-reminder.logging-conf/logging-conf}}}
