{;; Generate with: bin/generate-vapid-keys
 :managed/vapid-public-key  "BJWdCwAl9IxXsohZDGqDtQzh80JcJ_xkSutj82TP-SzPqY-EvldJtHalkqsgam_a5gAoEstNCPZyqOit0nRw4XM"
 :managed/vapid-private-key "3lJaF0mVHvN-LMZGxnOGxeZpG9tGQBtmzqbFTqzA6D0"
 :managed/vapid-subject     nil}