{:paths ["src/main"]
 :deps {;; contains nrepl, don't release with this in here
        nrepl/nrepl                                 {:mvn/version "1.5.1"}
        com.taoensso/telemere                       {:mvn/version "1.1.0"}

        cheshire/cheshire                           {:mvn/version "5.13.0"}
        hiccup/hiccup                               {:mvn/version "2.0.0"}
        babashka/fs                                 {:mvn/version "0.5.23"}
        babashka/process                            {:mvn/version "0.5.21"}
        io.github.tonsky/clj-simple-router          {:mvn/version "0.1.0"}
        ring/ring                                   {:mvn/version "1.15.3"}
        ring/ring-defaults                          {:mvn/version "0.7.0"}
        ring/ring-jetty-adapter                     {:mvn/version "1.15.3"}
        integrant/integrant                         {:mvn/version "1.0.1"}

        buddy/buddy-core                            {:mvn/version "1.12.0-430"}
        buddy/buddy-sign                            {:mvn/version "3.6.1-359"}
        buddy/buddy-hashers                         {:mvn/version "2.0.167"}
        metosin/malli                               {:mvn/version "0.19.2"}
        org.clojure/clojure                         {:mvn/version "1.12.3"}
        com.taoensso/telemere-slf4j                 {:mvn/version "1.1.0"}
        better-cond/better-cond                     {:mvn/version "2.1.5"}}
 :aliases
 {:build {:deps       {io.github.clojure/tools.build
                       {:exclusions  [com.google.guava/guava]
                        :mvn/version "0.9.6"}}
          :ns-default build
          :jvm-opts   ["-Xss2m"
                       "-XX:-OmitStackTraceInFastThrow"]
          :paths      ["src/build"]}
  :dev   {:extra-paths ["src/dev" "src/test" "resources"]
          :extra-deps
          {djblue/portal {:mvn/version "0.58.5"}
           io.github.tonsky/clj-reload {:mvn/version "0.7.0"}
           refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
           cider/cider-nrepl {:mvn/version "0.58.0"}}}}}
