{:paths ["src/main"]
 :deps {;; nrepl + cider-nrepl in main deps so our versions win over Garden's injected ones
        nrepl/nrepl                                 {:mvn/version "1.5.1"}
        cider/cider-nrepl                           {:mvn/version "0.58.0"}
        com.taoensso/telemere                       {:mvn/version "1.1.0"}

        cheshire/cheshire                           {:mvn/version "5.13.0"}
        hiccup/hiccup                               {:mvn/version "2.0.0"}
        babashka/fs                                 {:mvn/version "0.5.23"}
        babashka/process                            {:mvn/version "0.5.21"}
        io.github.tonsky/clj-simple-router          {:mvn/version "0.1.0"}
        ring/ring                                   {:mvn/version "1.15.3"}
        ring/ring-core                              {:mvn/version "1.15.3"}
        ring/ring-defaults                          {:mvn/version "0.7.0"}
        ring/ring-jetty-adapter                     {:mvn/version "1.15.3"}
        integrant/integrant                         {:mvn/version "1.0.1"}

        metosin/malli                               {:mvn/version "0.19.2"}
        org.clojure/clojure                         {:mvn/version "1.12.3"}
        com.taoensso/telemere-slf4j                 {:mvn/version "1.1.0"}
        better-cond/better-cond                     {:mvn/version "2.1.5"}

        nl.martijndwars/web-push                     {:mvn/version "5.1.2"}
        org.bouncycastle/bcprov-jdk18on              {:mvn/version "1.80"}
        zprint/zprint                               {:mvn/version "1.2.9"}
        com.fulcrologic/guardrails                 {:mvn/version "1.2.5"}
        io.github.nextjournal/garden-cron           {:git/sha "2873ed17337b2e00d4f776b8093832c1f490a46e"}
        io.github.nextjournal/garden-email          {:git/sha "ca4e1d7f5fefba1501ebd83d71b9cf409cb94080"}}
 :aliases
 {:dev   {:extra-paths ["src/dev" "src/test" "resources"]
          :extra-deps
          {djblue/portal {:mvn/version "0.58.5"}
           io.github.tonsky/clj-reload {:mvn/version "0.7.0"}
           refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
           cider/cider-nrepl {:mvn/version "0.58.0"}}}
  :test  {:extra-paths ["src/test"]
          :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
          :main-opts   ["-m" "kaocha.runner"]}
  :nextjournal/garden {:exec-fn dev.freeformsoftware.security-reminder.run.prod/start-garden!
                       :exec-args {:port 7777}
                       :extra-paths ["resources"]}}}
